# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.pdb

Server/Binary/
Server/.vs/
.vs/
Server/DummyClient/x64
*.vsidx
Server/GameServer/x64
Server/GameServer/Debug
Server/ServerCore/x64
Server/DummyClient/x64
Server/Libraries/Debug
Server/.vs
Server/Tools/PacketGenerator/__pycache__
Server/DBServer/x64
Server/Tools/CmsInitialGenerator/__pycache__
Server/Tools/ProcedureGenerator/__pycache__
Server/Libraries/Libs/ServerCore/Debug
